<h1 class="text-center bg-primary text-white">Product List</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let prod of products">
            <div class="card">
                <img src="{{prod.image}}" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{prod.category}}</h5>
                    <p class="card-text">{{prod.title}}</p>
                    <p class="card-text">Price: {{prod.price}}</p>
                    <p class="card-text">Rating: {{prod.rating.rate}}</p>
                    <button class="btn btn-primary">ADD TO CART</button>
                    <button class="btn btn-secondary">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>