<p>http-demo1 works!</p>
<button class="btn btn-primary" (click)="fetchHighVolumeData()">fetch data</button>
<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<table *ngIf="!isLoading" class="table table-bordered table-striped table-success table-responsive">
    <thead>
        <tr>
            <!-- <th *ngFor="let entry of entries[0] | keyvalue">
                {{entry.key}}
            </th> -->
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries">
            <td>{{entry.API}}</td>
            <td>{{entry.Description}}</td>
            <td>{{entry.Auth }}</td>
            <td>{{entry.HTTPS}}</td>
            <td>{{entry.Cors}}</td>
            <td>{{entry.Link}}</td>
            <td>{{entry.Category}}</td>
        </tr>
    </tbody>
</table>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let user of users">
            <div class="card">
                <img src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{user.name}}</h5>
                    <p class="card-text">Email: {{user.email}}</p>
                    <p class="card-text">Phone: {{user.phone}}</p>
                    <p class="card-text">City: {{user.address.city}}</p>
                    <p class="card-text">Company: {{user.company.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>