<h1 class="text-center bg-success text-white">Employee CRUD Example</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Employee list</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Sal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees">
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>
                            <button (click)="selectedEmp=emp" type="button" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#viewEmployee">
                                View
                            </button>
                            <button class="btn btn-danger ms-1">DEL</button>
                            <button class="btn btn-secondary ms-1">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Add Employee</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Id</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Sal</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="viewEmployee" tabindex="-1" aria-labelledby="viewEmployeeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewEmployeeLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Emp Id: {{selectedEmp?.id}}</p>
                <p>Emp salary: {{selectedEmp?.sal}}</p>
                <p>Emp Name: {{selectedEmp?.name}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>