<h1 class="text-center bg-success text-white">Employee CRUD Example</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Employee list</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Sal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees">
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>
                            <button class="btn btn-primary">View</button>
                            <button class="btn btn-danger ms-1">DEL</button>
                            <button class="btn btn-secondary ms-1">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Add Employee</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Id</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Sal</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>