<div class="center">
    <!-- <app-signup></app-signup> -->
    <!-- <app-cards></app-cards> -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directive></app-directive> -->
    <!-- <app-pipes-demo></app-pipes-demo> -->
    <!-- <app-products></app-products> -->
    <!-- <app-dynamic-form></app-dynamic-form> -->
    <!-- <app-users></app-users> -->
    <!-- <app-greet>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </app-greet> -->
    <!-- <app-greet>
        <table class="table table-bordered table-striped">
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
                <td>data-5</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
                <td>data-5</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
                <td>data-5</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
                <td>data-5</td>
            </tr>
            <tr>
                <td>data-1</td>
                <td>data-2</td>
                <td>data-3</td>
                <td>data-4</td>
                <td>data-5</td>
            </tr>
        </table>
    </app-greet> -->
    <!-- <app-employee-crud></app-employee-crud> -->

    <!-- <app-parent></app-parent> -->
   <!--  <app-math1></app-math1><hr>
    <app-math2></app-math2> -->
   <!--  <app-user-table></app-user-table><hr>
    <app-user-card></app-user-card> -->
    <!-- <app-http-demo1></app-http-demo1> -->
    <!-- <app-comments></app-comments> -->
    <app-employees></app-employees>
</div>