<p [ngStyle]="{'color':n%2 === 0?'blue':'red'}" highlight>directive works!</p>


<h2 *ngIf="n%2 === 0">{{n}} is Even </h2>
<h2 *ngIf="n%2 !== 0" highlight>{{n}} is Odd</h2>
<hr>
<div *ngIf="n%2 === 0;else oddTemplate">
    {{n}} is Even Number
</div>
<ng-template #oddTemplate>
    {{n}} is Odd Number
</ng-template>
<hr>
<p *ngIf="flag">This is Paragraph-1</p>
<p [hidden]="!flag">This is Paragraph-2</p>

<input type="checkbox" [(ngModel)]="flag">Please Check

<table *ngIf="flag" class="table table-bordered table-striped">
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
</table>
<hr>

<ul>
    <li *ngFor="let car of cars">{{car}}</li>
</ul>
<select [(ngModel)]="selectedState">
    <ng-container *ngFor='let state of states'>
        <option [value]="state.val">{{state.text}}</option>
    </ng-container>
</select>
<h1 highlight>Selected State is: {{selectedState}}</h1>
<hr>
<h1 [ngSwitch]="dayNumber">Today is:
    <p *ngSwitchCase="1">Monday</p>
    <p *ngSwitchCase="2">Tuesday</p>
    <p *ngSwitchCase="3">Wednesday</p>
    <p *ngSwitchCase="4">Thursday</p>
    <p *ngSwitchCase="5">Friday</p>
    <p *ngSwitchCase="6">Saturday</p>
    <p *ngSwitchCase="0">Sunday</p>
    <p *ngSwitchDefault>Not a valid number</p>
</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Eid</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Is First</th>
            <th>Is Last</th>
            <th>Is Even</th>
            <th>Is odd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees;
        let i=index;let isFirst=first;let isLast=last;
        let isEven=even;let isOdd=odd;trackBy:trackByEmpId">
            <td>{{i+1}}</td>
            <td>{{emp.eId}}</td>
            <td>{{emp.name}}</td>
            <td [ngClass]="emp.gender==='male'?'bg-primary':'bg-secondary'">{{emp.gender}}</td>
            <td [ngStyle]="{'color':emp.sal>7000?'blue':'red'}">{{emp.sal}}</td>
            <td>{{isFirst}}</td>
            <td>{{isLast}}</td>
            <td>{{isEven}}</td>
            <td>{{isOdd}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="getNewEmployees()">Get New Employees</button>
<hr>
<textarea numberonly></textarea>
<input type="text" numberonly />
<br>
<button class="btn btn-primary">Normal</button>
<button class="btn btn-primary ms-1" backbutton>back</button>
<button class="btn btn-secondary ms-1" clickcount>click </button>