<p>productdetail works!</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
            <div class="card">
                <img src="{{prod.image}}" class="card-img-top" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title text-center">category: {{prod.category}}</h5>
                    <p class="card-text">Id: {{prod.id}}</p>
                    <p class="card-text">Price: {{prod.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>