<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/images/football.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Sport Items</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://rukminim1.flixcart.com/image/400/400/krtjgcw0/headphone/d/9/g/au-mh501-maono-original-imag5j35rffkwpac.jpeg?q=70"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Studio Headphones</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://rukminim1.flixcart.com/image/400/400/jxz0brk0/stuffed-toy/n/t/s/4-feet-pink-very-beautiful-best-quality-for-special-gift-125-13-original-imafgv92puzkdytg.jpeg?q=70"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Soft Toys</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="https://rukminim1.flixcart.com/image/400/400/kcp4osw0/cap/5/t/2/free-combo-woolen-cap-muffler-and-gloves-poshing-original-imaftrycnbfus837.jpeg?q=70"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>